.banner {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;

  .wrapper-left-center {
    display: flex;

    .banner__center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 100px;
      width: 440px;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 110.2%;
        margin: 16px 0;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: -0.005em;
        margin-top: 0;
        margin-bottom: 32px;
      }
    }
  }

  .banner__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    text-align: right;

    .banner__right__trailer {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.lateralBar {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-right: 8.9rem;

  img {
    margin-bottom: 20px;
  }
}
