.navbar {
  width: 100vw;
  z-index: 2;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.4);

  .wrapper-logo-menu {
    display: flex;

    .navbar__logo {
      margin-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar__logo::after {
      content: "";
      height: 2px;
      width: 43px;
      background-color: #00aeff;
      position: absolute;
      bottom: 0;
      left: 4rem;
      margin: 0;
      padding: 0;
    }

    .navbar__menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      padding: 0;

      .navbar__menu__item {
        cursor: pointer;
        padding: 0 0.8rem;
      }

      .navbar__menu__item:hover {
        color: #00aeff;
        text-shadow: white 1px 0 20px;
      }
    }
  }

  .navbar__auth {
    display: flex;
  }

  .navbar__menu__hamburguer {
    width: 0;
    display: none;
    visibility: hidden;
    cursor: pointer;
  }
}

@media screen and (max-width: 996px) {
  .navbar__menu {
    width: 0;
    display: none;
    visibility: hidden;
  }

  .navbar__menu__hamburguer {
    width: auto !important;
    display: block !important;
    visibility: visible !important;
    z-index: 6;
  }

  .lateral-menu{
    width: 70vw ;
    height: 100vh ;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: black;
    visibility: visible;
    transition: all 0.7s ease;
    flex-direction: column;
    justify-content: center !important;

    li{
      text-align: left;
      width: 30%;
      justify-content: start;
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 610px) {
  .navbar {
    padding: 1.5rem;
  }

  .navbar__auth {
    height: 0;
    width: 0;
    display: none;
    visibility: hidden;
  }

  .navbar__menu__hamburguer {
    width: auto !important;
    display: block !important;
    visibility: visible !important;
  }
}
